    $text-color: #202930;
    $line-bule: #daefff;
    $gray: #f3f3f3;
    $primary: #5171f1;
    $gray-light: #ccd4dc;
    $text-color-line:#477c65;
    $secondery: #fea31b;
    $gray-lighter: #cad6e1;
   